videos/
__pycache__
routers/__pycache__
*.json
venv
vlc_log.txt
server/uploaded_videos/
server/vlc_log.txt

uploaded_videos/*
!uploaded_videos/compressed/
!uploaded_videos/.gitkeep
uploaded_videos/compressed/*
!uploaded_videos/compressed/.gitkeep
